body {
	font-family: Arial, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.gantt, .gantt2 {
	/*width: 575px;*/
	width: 800px;
	height: 500px;
	margin: 20px auto;
	border: 15px solid #ddd;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;  
}

.gantt:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.fn-gantt {
	width: 100%;
}

.fn-gantt .fn-content {
	overflow: hidden;
	position: relative;
	width: 100%;
}

/* left panel */

.fn-gantt .leftPanel {
	float: left;
	width: 200px;
	overflow: hidden;
	border-right: 1px solid #DDD;
	position: relative;
	z-index: 20000;
}

.fn-gantt .row {
	float: left;
	height: 24px;
	line-height: 24px;
}
.fn-gantt .leftPanel .label {
	margin: 0 0 0 5px;
}

.fn-gantt .leftPanel .row0 {
	border-top: 1px solid #DDD;
}
.fn-gantt .leftPanel .name, .fn-gantt .leftPanel .desc {
	float: left;
	height: 23px;
	margin: 0;
	border-bottom: 1px solid #DDD;
	background-color: #f6f6f6;
}
 
.fn-gantt .leftPanel .name {
	width: 100px;
}
 
.fn-gantt .leftPanel .desc {
	width: 100px;
}
 
.fn-gantt .spacer
{
	margin: -2px 0 1px 0;
	border-bottom: none;
	background-color: #f6f6f6;
}

/* right panel */

.fn-gantt .rightPanel {
	float: left;
	width: 599px;
	overflow: hidden;
}

.fn-gantt .dataPanel {
	margin-left: 0px;
	border-right: 1px solid #DDD;
	position: relative;
}

.fn-gantt .dataPanel:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.fn-gantt .day {
	overflow: visible;
	width: 24px;
	line-height: 24px;
	text-align: center;
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	margin: -1px 0 0 -1px;
} 

.fn-gantt .holiday {
	background-color: #f9e5e2;
	height: 23px;
	margin: 0 0 -1px -1px;
}

.fn-gantt .today {
	background-color: #e2ebff;
	height: 23px;
	margin: 0 0 -1px -1px;
}

.fn-gantt .sa, .fn-gantt .sn, .fn-gantt .wd {
	height: 23px;
	margin: 0 0 0 -1px;
}

.fn-gantt .sa {
	background-color: #eeeeee;
}

.fn-gantt .sn {
	background-color: #eeeeee;
}

.fn-gantt .wd {
	background-color: #f6f6f6;
}

.fn-gantt .rightPanel .month, .fn-gantt .rightPanel .year {
	float: left;
	overflow: hidden;
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	height: 23px;
	margin: 0 0 0 -1px;
	background-color: #f6f6f6; 	
}

.fn-gantt-hint {
	border: 5px solid #edc332;
	background-color: #fff5d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; 
    padding: 10px;
	position: absolute;
	display: none;
    z-index: 10003;
	-webkit-box-shadow: 1px 1px 5px 0px #333;
	box-shadow: 1px 1px 5px 0px #333;
}

.fn-gantt-hint:after {
	content: "";
	display: block;
	position: absolute;
	width: 0px;
	height:0px;
	top: -15px;
	left: 5px;
	border-bottom: 5px solid #edc332;
	border-left:   5px solid #edc332;
	border-right:  5px solid transparent;
	border-top:    5px solid transparent;
    z-index: 10001;
	}

.fn-gantt .bar {
	border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;   
    background-color: #89c5f8;
	-webkit-box-shadow: 1px 1px 1px 0px #333;
	box-shadow: 1px 1px 1px 0px #333;
    height: 18px;
    margin: 4px 3px 3px 3px;
    position: absolute;
    z-index: 10000;
}

.fn-gantt .bar .label {
	line-height: 18px;
	font-weight: bold;
}

.fn-gantt .ganttRed {
	background-color: #8F0000;
}

.fn-gantt .ganttGreen {
	background-color: #b3cf6f;
}

.fn-gantt .ganttOrange {
	background-color: #ff7e24;
}

.fn-gantt .depLine {
	background-color: transparent;
	position: absolute;
	z-index: 9999;
}

.fn-gantt .depLineSh {
	margin-top: 2px;
	margin-left: 2px;
	opacity: 0.3;
}

.fn-gantt .depStart, .fn-gantt .depEnd {
	position: absolute;
	width: 5px;
	height: 5px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #fff;
	-webkit-box-shadow: 1px 1px 1px 0px #444;
	box-shadow: 1px 1px 1px 0px #444;
	z-index: 10001;
}

/* bottom (navigation) */

.fn-gantt .bottom {
	clear: both;
	background-color: #f6f6f6;
	width: 100%;
}
.fn-gantt .navigate {
	text-align: center;
	border-top: 1px solid #DDD;
}

.fn-gantt .navigate .nav-slider {
	width: 390px;
	display: inline-block;
}

.fn-gantt .navigate .nav-slider-left, .fn-gantt .navigate .nav-slider-right {
	text-align: center;
	height: 20px;
	display: inline-block;	
}

.fn-gantt .navigate .nav-slider-left {
	float: left;
}

.fn-gantt .navigate .nav-slider-right {
	float: right;

}

.fn-gantt .navigate .nav-slider-content {
	text-align: left;
	width: 160px;
	height: 20px;
	display: inline-block;
	padding: 10px;
	margin: 0;
}

.fn-gantt .navigate .nav-slider-bar, .fn-gantt .navigate .nav-slider-button {
	position: absolute;
	display: inline-block;	
}

.fn-gantt .navigate .nav-slider-bar {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;   
	width: 150px;
	height: 10px;
	background-color: #DDD;
	margin: 5px 0 5px 0;	
}

.fn-gantt .navigate .nav-slider-button {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;   
	width: 14px;
	height: 14px;
	background-color: #888;
	left: 0px;
	top: 0px;
	margin: -2px 0 0 0;	
	cursor: pointer;
}

.fn-gantt .navigate .page-number {
	display: inline-block;
	font-size: 10px;
	height: 20px;
}

.fn-gantt .navigate .page-number span {
	color: #666666;
	margin: 5px;
	position: relative;
	top: 13px;
}

.fn-gantt .navigate a:link, .fn-gantt .navigate a:visited, .fn-gantt .navigate a:active {
	text-decoration: none;
}

.fn-gantt .nav-link {
	margin: 0px 0px 8px 0px;
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 0px;
}

.fn-gantt .navigate .nav-page-back {
	background-image: url(img/buttons.png);
	background-position: 0 0;
}

.fn-gantt .navigate .nav-page-next {
	background-image: url(img/buttons.png);
	background-position: -50px 0;
	margin-right: 15px;
}

.fn-gantt .navigate .nav-slider .nav-page-next {
	margin-right: 5px;
}
 
.fn-gantt .navigate .nav-page-back:hover {
	background-position: 0 -20px;
}

.fn-gantt .navigate .nav-page-next:hover {
	background-position: -50px -20px;
}

.fn-gantt .navigate .nav-begin {
	background-image: url(img/buttons.png);
	background-position: -70px 0;
}

.fn-gantt .navigate .nav-prev-week {
	background-image: url(img/buttons.png);
	background-position: -90px 0;
}

.fn-gantt .navigate .nav-prev-day {
	background-image: url(img/buttons.png);
	background-position: -110px 0;
}

.fn-gantt .navigate .nav-next-day {
	background-image: url(img/buttons.png);
	background-position: -130px 0;
}

.fn-gantt .navigate .nav-next-week {
	background-image: url(img/buttons.png);
	background-position: -150px 0;
}

.fn-gantt .navigate .nav-end {
	background-image: url(img/buttons.png);
	background-position: -170px 0;
}

.fn-gantt .navigate .nav-zoomOut {
	background-image: url(img/buttons.png);
	background-position: -190px 0;
}

.fn-gantt .navigate .nav-zoomOut:hover {
	background-position: -190px -20px;
}

.fn-gantt .navigate .nav-zoomIn {
	background-image: url(img/buttons.png);
	background-position: -210px 0;
	margin-left: 15px;
}

.fn-gantt .navigate .nav-zoomIn:hover {
	background-position: -210px -20px;
}

.fn-gantt .navigate .nav-now {
	background-image: url(img/buttons.png);
	background-position: -230px 0;
}

.fn-gantt .navigate .nav-slider .nav-now {
	margin-right: 5px;
}

.fn-gantt .navigate .nav-now:hover {
	background-position: -230px -20px;
}

.fn-gantt .navigate .nav-begin:hover {
	background-position: -70px -20px;
}

.fn-gantt .navigate .nav-prev-week:hover {
	background-position: -90px -20px;
}

.fn-gantt .navigate .nav-prev-day:hover {
	background-position: -110px -20px;
}

.fn-gantt .navigate .nav-next-day:hover {
	background-position: -130px -20px;
}

.fn-gantt .navigate .nav-next-week:hover {
	background-position: -150px -20px;
}

.fn-gantt .navigate .nav-end:hover {
	background-position: -170px -20px;
}

.fn-gantt-loader {
	background-image: url(img/loader-bg.png);
    z-index: 30000;
}

.fn-gantt-loader-spinner {
	width: 100px;
	height: 20px;
	position: absolute;
	margin-left: 50%;
	margin-top: 50%;
	text-align: center;
}
.fn-gantt-loader-spinner span {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}